* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1e0606;
}

img {
  display: block;
  width: 100%;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #1e0606;
}

h3 {
  padding: 0;
  margin: 0;
  font-family: "Crimson Text", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #1e0606;
}

a {
  display: block;
  text-decoration: none;
  color: #1e0606;
  cursor: pointer;
}

.button {
  display: inline-block;
  padding: 9px 22px 9px 22px;
  background: #000000;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.undoted {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.container {
  max-width: 1180px;
  margin: auto;
}

/* CONTACT-FORM */
fieldset {
  border: none;
}

/* HEADER */

.header {
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 40px;
}

.logo {
  max-width: 100px;
  max-height: 52px;
}
.header__nav {
  margin: 0 auto 0 60px;
}
.header__list {
  display: flex;
  margin: 0;
}

.header__item {
  margin-right: 20px;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}

.header__button {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}

.header__btn {
  width: 24px;
  height: 24px;
  margin-top: 5px;
  border: none;
  overflow: hidden;
  object-fit: cover;
  padding: 0;
  cursor: pointer;
}

.header__search {
  margin-right: 23px;
}

.header__input {
  border: none;
}

/*  FOOTER */
.footer {
  background: #434343;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  border-bottom: 1px solid #666666;
  margin-bottom: 7px;
}

.footer__navigation,
.footer__customer,
.footer__connect {
  width: 380px;
}
.footer__title {
  margin: 0;
  padding: 0;
  padding-bottom: 23px;
  color: #aaaaaa;
  font-weight: normal;
  border-bottom: 1px solid #666666;
  margin-bottom: 26px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

.footer__item {
  margin-bottom: 15px;
}

.footer__link {
  color: #ffffff;
  font-weight: normal;
}

.footer__text {
  color: #ffffff;
  font-weight: normal;
}

.footer__link-dl {
  color: #a2a2a2;
  font-weight: normal;
}
.footer__icons {
  display: flex;
  margin-right: 10px;
}

.icons__item {
  margin-right: 10px;
}
.footer__form {
  display: flex;
  margin-bottom: 23px;
}

.footer__form button {
  width: 81px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
}
.footer__input {
  padding-left: 15px;
  width: 300px;
  height: 40px;
  background-color: #666666;
  border: none;
  outline: none;
  color: #ffffff;
}

::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #ebebeb;
}

.footer__other {
  display: flex;
  align-items: center;
  padding-bottom: 100px;
}

.footer__wrap {
  width: 245px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 155px;
}
.footer__wrap-stars {
  margin-left: 0 auto 0 25px;
}

.footer__text-copy {
  margin-right: 109px;
}

/*  BREADCRUMB */

.breadcrumb__item {
  font-family: "Crimson Text";
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #1e0606;
}

.breadcrumb__link_active {
  color: #1e0606;
  opacity: 0.5;
}

.breadcrumb__list li + li:before {
  color: black;
  content: " > ";
}

/*  PRODUCTS */
.products__item {
  max-width: 280px;
  max-height: 270px;
}

.products__link {
  display: inline-block;
  width: 280px;
  height: 270px;
}

.products__kids {
  background-image: url(..//img/app_kids.png);
}

.products__holiday {
  background-image: url(..//img/holiday.png);
}

.products__toys {
  background-image: url(..//img/toys.png);
}

.products__accessories {
  background-image: url(..//img/accessories.png);
}

.products__sale {
  background-image: url(..//img/sale.png);
}

.products__adults {
  background-image: url(..//img/app_adults.png);
}

.products__names {
  padding-top: 103px;
}

.products__short {
  padding-top: 119px;
}

.products__name {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
}
