* {
  box-sizing: border-box;
  outline-color: #c29974;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1e0606;
}

img {
  display: block;
  width: 100%;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #1e0606;
}

h3 {
  padding: 0;
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  color: #1e0606;
  cursor: pointer;
  outline-color: #c29974;
}

.button {
  display: inline-block;
  padding: 9px 22px 9px 22px;
  background: #000000;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.button:hover {
  background: #c29974;
}

.button:active {
  background: #cfaf91;
}

.button:disabled {
  background: #c7c1c1;
}

a.disabled,
a.disabled:hover {
  background: #c7c1c1;
}

.undoted {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.container {
  max-width: 1180px;
  margin: auto;
}

/* CONTACT-FORM */
fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

textarea {
  width: 600px;
  height: 150px;
  resize: none;
  outline: none;
}

input {
  height: 50px;
  outline: none;
}

input,
textarea {
  border: 1px solid #c7c1c1;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-top: 10px;
}

input:focus,
textarea:focus {
  border-color: #c29974;
}

input::placeholder {
  color: #1e0606;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

label {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #1e0606;
  margin-bottom: 4px;
}

.contact__input:disabled + label,
textarea:disabled + label {
  border: 1px solid rgba(73, 72, 72, 0.068);
}

input[disabled],
textarea[disabled] {
  background-color: #ffffff;
  border: 1px solid #e9e6e6;
}

.field_2_column {
  display: flex;
  justify-content: space-between;
}

.field_2_column .label-wrapper:nth-child(1) {
  margin-right: 18px;
}

.label-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.checkbox-list,
.radio-list {
  display: flex;
  align-items: center;
}

.checkbox-label,
.radio-label {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #1e0606;
  cursor: pointer;
  padding-left: 33px;
}

.checkbox-label:before,
.checkbox-label:after,
.radio-label:before,
.radio-label:after {
  content: "";
  display: block;
  position: absolute;
}

.checkbox-label:before,
.radio-label:before {
  top: 0px;
  left: -3px;
  border: 2px solid #c29974;
  border-radius: 4px;
  width: 16px;
  height: 17px;
  background: transparent;
}

.radio-label:before {
  border-radius: 50%;
  width: 18px;
  height: 17px;
}

.checkbox-label:after,
.radio-label:after {
  top: 2px;
  left: 1px;
  width: 16px;
  height: 15px;
  background-image: url(..//img/v_simbol.svg);
  opacity: 0;
}

.radio-label:after {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  top: 4px;
  left: 2px;
  background-image: url(..//img/ellipse_radio.svg);
}

.radio-list-limit label:before {
  border: none;
  top: 5px;
  left: 0px;
  border-radius: 0;
  width: 80px;
  height: 35px;
  background: #ffffff;
}
.radio-list-limit label:after {
  border-radius: 0;
  top: 0px;
  left: 0px;
  width: 80px;
  height: 35px;
  background: #f3d0db;
}

.radio-list-limit li {
  position: relative;
  width: 80px;
  height: 35px;
  background: #fff;
}

.radio-list-limit label:hover:before {
  position: relative;
  visibility: visible;
}

.radio-list-limit label:before {
  content: "";
  background-color: #eddeeb;
  width: 80px;
  height: 35px;
  display: block;
  position: absolute;
  visibility: hidden;
  top: -22px;
}

.radio-text {
  position: absolute;
  display: block;
  top: 7px;
  left: 29px;
  cursor: pointer;
}

.radio-text_twenty {
  left: 19px;
}

.radio-text_fifty {
  left: 19px;
}

.checkbox-label:hover,
.checkbox-label:active,
.radio-label:hover,
.radio-label:active {
  text-decoration: underline;
}

.checkbox-input,
.radio-input {
  display: none;
}
.checkbox-input:checked + .checkbox-label:after,
.radio-input:checked + .radio-label:after {
  opacity: 1;
}

.checkbox-input:disabled + .checkbox-label,
.radio-input:disabled + .radio-label {
  color: #908484;
  opacity: 0.6;
  text-decoration: none;
}

.contact__button {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.checkbox-wrap {
  margin-bottom: 16px;
}

/* HEADER */

.header {
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 60px;
}

.logo {
  max-width: 100px;
  max-height: 52px;
}
.logo:hover,
.header__item:hover,
.header__btn:hover,
.header__button:hover {
  opacity: 0.6;
}

.logo:active,
.header__item:active,
.header__btn:active,
.header__button:active {
  opacity: 0.2;
}

.header:checked {
  background-color: yellow;
}
.header__nav {
  margin: 0 auto 0 60px;
}
.header__list {
  display: flex;
  margin: 0;
}

.header__item {
  margin-right: 20px;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}

.header__button {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin-left: 20px;
}

.header__btn {
  width: 24px;
  height: 24px;
  margin-top: 2px;
  border: none;
  overflow: hidden;
  object-fit: cover;
  padding: 0;
  cursor: pointer;
}

/*  FOOTER */
.footer {
  background: #434343;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  border-bottom: 1px solid #666666;
  margin-bottom: 7px;
}

.footer__navigation,
.footer__customer,
.footer__connect {
  width: 380px;
}

.footer__connect .footer__title {
  margin-bottom: 24px;
}

.footer__title {
  margin: 0;
  padding: 0;
  padding-bottom: 23px;
  color: #aaaaaa;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  border-bottom: 1px solid #666666;
  margin-bottom: 26px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

.footer__item {
  margin-bottom: 15px;
}

.footer__item:hover {
  opacity: 0.5;
}

.footer__item:active {
  opacity: 0.2;
}

.footer__link {
  color: #ffffff;
  font-weight: normal;
}

.footer__text {
  color: #ffffff;
  font-weight: normal;
}

.footer__link-dl {
  color: #a2a2a2;
  font-weight: normal;
}

.footer__link-dl:active,
.footer__link-dl:hover {
  text-decoration: underline;
  color: #ffffff;
}

.footer__icons {
  display: flex;
  margin-right: 10px;
}

.icons__item {
  margin-right: 10px;
}

.footer .icons__item:hover path:last-child {
  fill: #aaaaaa;
}

.footer .icons__item:active path:first-child {
  fill: #5a59597a;
}

.footer .icons__item:active path:last-child {
  fill: #464545;
}

.footer__form {
  display: flex;
  margin-bottom: 25px;
}

.footer__form button {
  width: 81px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__fieldset {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.footer__fieldset label {
  margin-bottom: 0;
}
.footer__input {
  padding-top: 11px;
  padding-left: 14px;
  width: 300px;
  height: 40px;
  background-color: #666666;
  border: 1px solid transparent;
  outline: none;
  color: #ffffff;
}

.footer__input:hover,
.footer__input:focus {
  border: 1px solid #fffdfd;
}

.footer__fieldset input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #ebebeb;
}

.footer__other {
  display: flex;
  align-items: center;
  padding-bottom: 100px;
}

.footer__stars-form {
  width: 245px;
  margin-right: 155px;
}

.footer__stars-field {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.footer__stars-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.footer__stars-title {
  width: 123px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.footer__stars-title:hover,
.footer__stars-title:active {
  color: #c29974;
}

.star-input {
  display: none;
}
.star-label {
  position: relative;
}

.star-label:before,
.star-label:after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}

.star-label:before {
  top: -6px;
  background-image: url(..//img/Star.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 17px;
  height: 17px;
}
.star-label-one:before {
  right: 1px;
}

.star-label-two:before {
  right: 20px;
}

.star-label-three:before {
  right: 40px;
}

.star-label-four:before {
  right: 60px;
}

.star-label-five:before {
  right: 80px;
}

.star-input:checked + .star-label:after {
  top: -6px;
  background-image: url(..//img/Star_active.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 17px;
  height: 17px;
  color: #c29974;
}

.star-input:checked + .star-label-one:after {
  right: 1px;
}

.star-input:checked + .star-label-two:after {
  right: 20px;
}

.star-input:checked + .star-label-three:after {
  right: 40px;
}

.star-input:checked + .star-label-four:after {
  right: 60px;
}

.star-input:checked + .star-label-five:after {
  right: 80px;
}

.footer__text-copy {
  margin-right: 109px;
}

/*  BREADCRUMB */

.breadcrumb__item {
  display: flex;
  font-family: "Crimson Text";
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #1e0606;
  margin-right: 20px;
}

.breadcrumb__link {
  text-transform: capitalize;
}

.breadcrumb__link_active {
  color: #1e0606;
  opacity: 0.5;
}

.breadcrumb__list {
  display: flex;
  align-items: center;
}

.breadcrumb__list li + li:before {
  color: black;
  content: " >";
  margin-right: 20px;
}

/*  PRODUCTS */
/* .products__item {
  max-width: 280px;
  max-height: 270px;
} */

.products__link {
  display: block;
  min-width: 280px;
  min-height: 270px;
  width: 100%;
  background-repeat: no-repeat;
}

.products__kids {
  background-image: url(..//img/app_kids.png);
  background-color: #dbe4db;
}

.products__holiday {
  background-image: url(..//img/holiday.png);
  background-color: #eaddd3;
}

.products__toys {
  background-image: url(..//img/toys.png);
  background-color: #f8f2da;
}

.products__accessories {
  background-image: url(..//img/accessories.png);
  background-color: #d5d4e1;
}

.products__sale {
  background-image: url(..//img/sale.png);
  background-color: #f3d0db;
}

.products__adults {
  background-image: url(..//img/app_adults.png);
  background-color: #e5eaf8;
}

.products__names {
  max-width: 192px;
  margin: auto;
  padding-top: 103px;
}

.products__short {
  padding-top: 119px;
}

.products__name {
  display: block;
  width: 192px;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
}

.products__link:hover,
.products__link:focus {
  text-decoration: underline;
  color: #ffffff;
}

/* page */
.page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 58px;
}
.page__nums {
  display: flex;
  justify-content: space-between;
  width: 234px;
}

.page__count:hover {
  color: #aaaaaa;
}

span.page__count:nth-child(1) {
  margin-right: 67px;
}

span.page__count:nth-child(n + 2) {
  margin-right: 64px;
}

.page__count {
  display: block;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #1e0606;
}

.page__count-active {
  color: #c29974;
}

.page svg {
  cursor: pointer;
}

.page svg:hover path,
.page svg:active path {
  stroke: #c29974;
  stroke-opacity: 1;
}

.page svg:active path {
  stroke-opacity: 0.7;
}

.page__arrow-right,
.page__arrow-left {
  border: transparent;
  background-color: transparent;
  padding: 0;
}
