.toy__heading {
  margin-bottom: 17px;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #1e0606;
}

.breadcrumb {
  margin-bottom: 47px;
}

.toy__choice {
  margin-bottom: 44px;
  background: rgba(125, 151, 218, 0.2);
}

/* CHOICE-form */
.choice__form {
  padding-top: 42px;
  padding-bottom: 42px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

legend {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #1e0606;
  text-transform: capitalize;
}

/* Range */

.field-range {
  display: flex;
  flex-direction: column;
}
.label-wrapper-range {
  width: 200px;
  display: flex;
  align-items: start;
}

.label-wrapper-range label {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

.range__period {
  display: flex;
  justify-content: space-between;
}

input[type="range"] {
  padding: 0;
  width: 188px;
  height: 24px;
  appearance: none;
  background: transparent;
  border: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 4px;
  background-color: #c29974;
}

input[type="range"]::-webkit-slider-thumb {
  background-image: url(..//img/round_range.svg);
  cursor: pointer;
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
  margin-top: -10px;
}

/* CHeckbox, radio */

.checkbox-list li {
  margin-bottom: 15px;
  width: 75px;
}

.checkbox-label,
.radio-label {
  padding: 0;
  padding-left: 25px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1e0606;
}

.radio-list {
  width: 131px;
}

.radio-list li {
  margin-bottom: 10px;
}

.checkbox-list,
.radio-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio-limit {
  width: 240px;
}

.radio-list-limit {
  margin: 0;
  padding: 0;
  width: 240px;
  display: flex;
  flex-direction: row;
}

.radio-list-limit li {
  position: relative;
  width: 80px;
  height: 35px;
}

/* .radio-list-limit li:hover:before {
  position: relative;
  visibility: visible;
}

.radio-list-limit li:before {
  content: "";
  background-color: #eddeeb;
  width: 80px;
  height: 35px;
  display: block;
  position: absolute;
  visibility: hidden;
} */

.radio__text {
  position: absolute;
  display: block;
  top: 11px;
  left: 25px;
  cursor: pointer;
}

.choice__choice {
  margin-top: 40px;
}

/* Catalog */
.toy__prod {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.toy__item {
  margin-bottom: 43px;
}

.toy__item:hover {
  cursor: pointer;
}

.toy__img {
  margin-bottom: 30px;
}

.toy__link:before {
  position: absolute;
  visibility: hidden;
  padding-top: 90px;
  content: "LEARN MORE";
  background-color: #e5eaf8;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 26px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  color: #1e0606;
  width: 207px;
  height: 115px;
  display: block;
  top: 85px;
}

.toy__link:hover:before {
  opacity: 0.8;
  visibility: visible;
}

.toy__link:focus:before {
  visibility: visible;
  opacity: 0.67;
}

.toy__link {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  max-width: 380px;
}

.toy__text {
  margin-bottom: 18px;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}
.toy__price {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}
