.toy__heading {
  margin-bottom: 17px;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #1e0606;
}

.breadcrumb {
  margin-bottom: 47px;
}

.choice__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.choice__title {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #1e0606;
  text-transform: capitalize;
}

.choice__item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.choice__checkmark {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1e0606;
}

.choice__sort-min,
.choice__sort-middle,
.choice__sort-max {
  width: 80px;
  height: 35px;
}

.choice__sort-active {
  background: #f3d0db;
}

.toy__choice {
  margin-bottom: 44px;
  background: rgba(125, 151, 218, 0.2);
}

.toy__prod {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.toy__item {
  margin-bottom: 43px;
}

.toy__img {
  margin-bottom: 30px;
}
.toy__link {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  max-width: 380px;
}

.toy__text {
  margin-bottom: 18px;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}
.toy__price {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.toy__count {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #1e0606;
}

.toy__count-active {
  color: #c29974;
}

.blog__slider {
  margin-bottom: 58px;
}
